<div id="app">
    <div v-if="isLoading">
        <div class="loading-overlay">
            <loader></loader>
        </div>
    </div>
    <div v-else class="card shadow-lg">
        <div class="card-body">
            <div class="center-content mt-4">
                <div class="w-25">
                    <div>
                        <h3 class="mt-2 mb-4">Create a Room Type</h3>
                        <hr />
                        <form class="form-group">
                            <div class="form-horizontal">
                                <div class="text-center">
                                    <div>
                                        <label class="text-center">Name:</label>
                                        <div>
                                            <input v-model="name" class="form-control rounded-input" type="text" placeholder="Enter name" />
                                        </div>
                                    </div>
                                </div>
                                <div v-if="errors" div class="mt-4 mb-4">
                                    <ul>
                                        <li class="text-danger" v-for="e in errors"> {{e}} </li>
                                    </ul>
                                </div>
                                <hr />
                                <div class="text-center">
                                    <a title="Back" class="btn btn-primary" href="@Url.Action("Index", "RoomTypes")">
                                        <i class="bi bi-caret-left"></i>
                                    </a>
                                    <button type="button" title="Create" v-on:click="register()" class="btn btn-success">
                                        <i class="bi bi-plus-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/vue/components/loader.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                name: '',
                errors: [],
                isLoading: false,
                haveErrors: false
            },
            methods: {
                register() {
                    this.isLoading = true;
                    axios.post("@Url.Action("Create", "RoomTypes")", { Name: this.name }).then(response => {
                              localStorage.setItem('success', `Success in create room type with name: ${this.name}`);
                              window.location.href = "/RoomTypes/Index";
                          })
                        .catch(error => {

                            if (error.response.status === 400) {
                                console.log(error.response);
                                this.haveErrors = true;
                                this.errors = Object.entries(error.response.data.Errors).flatMap(([key, messages]) => messages);
                                console.log(this.erros);
                            }
                            else {
                               console.log(error);
                            }
                          }).finally(() => {
                              this.isLoading = false;
                          });
                },
                getUniqueKeysErrors(errors) {
                    let uniqueErrors = [];

                    errors.forEach(err => {
                        if (!uniqueErrors[err.key]) {
                            uniqueErrors[err.key] = err.message;
                        }
                    });

                    return Object.values(uniqueErrors);
                }
            }
        });
    </script>
}