<div id="app">
    <div class="card shadow-lg">
        <div class="card-body">
            <div class="center-content mt-4">
                <div class="w-25">
                    <div>
                        <h3 class="mt-2 mb-4">Create a Room Type</h3>
                        <hr />
                        <form class="form-group">
                            <div class="form-horizontal">
                                <div class="text-center">
                                    <div>
                                        <label class="text-center">Name:</label>
                                        <div>
                                            <input v-model="name" class="form-control rounded-input" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <ul>
                                        <li v-if="haveErrors" v-for="e in errors"></li>
                                    </ul>
                                </div>
                                <hr />
                                <div class="text-center">
                                    <a title="Back" class="btn btn-primary" href="@Url.Action("Index", "RoomTypes")">
                                        <i class="bi bi-caret-left"></i>
                                    </a>
                                    <button type="button" title="Create" v-on:click="register()" class="btn btn-success">
                                        <i class="bi bi-plus-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/vue/create.js"></script>
    }