<div id="app">
    <div v-if="isLoading" class="loading-overlay">
        <loader></loader>
    </div>
    <div v-else class="card shadow-lg">
        <div class="card-body">
            <h3 class="text-center mb-5"> Room Types <i class="bi bi-table"></i> </h3>
            <div class="center-content">
                <table class="table table-hover col-md-8">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Created At
                            </th>
                            <th>
                                Operations
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="r in roomTypes">
                            <td>
                                {{ r.name }}
                            </td>
                            <td>
                                {{ r.createdAt }}
                            </td>
                            <td>
                                <button type="button" v-on:click="redirectToDelete(r)" class="btn btn-danger">
                                    <i class="bi bi-trash2"></i>
                                </button>
                                <button v-on:click="redirectToEdit(r)"  class="btn btn-warning">
                                    <i class="bi bi-pen"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/vue/components/loader.js"></script>
    <script src="~/Scripts/vue/index.js"></script>
}