/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.card{
    border-radius: 20px;
}

.btn{
    border-radius: 15px;
}
table {
    border-radius: 20px;
}

body {
    background-color: white;
    color: black;
    font-size: 15px;
}

body-content {
    color: white;
}

li{
    color: white;
}

.navbar-custom {
    background-color: #101010;
    color: white;
}

.navbar-custom .nav-link {
        color: white;
}

.navbar-custom .nav-link:hover {
    color: #d4bfff;
}

input {
    border-radius: 20px !important;
    height: 30px !important;
    width: 280px !important;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}